body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5; /* Azul claro para o fundo */
}

h2 {
    background-color: #00FFFF;
    margin-top: 20px;
    font-size: 24px;
    color: #007bff; /* Azul escuro para os títulos */
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007bff; /* Azul escuro para as labels */
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #007bff; /* Azul escuro para a borda dos inputs */
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff; /* Azul escuro para o fundo do botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; /* Centraliza horizontalmente */
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
    
}