.navbar {
    background-color: #007bff;
    padding: 10px; 
}
  
.navbar__list {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.navbar__list-item {
    margin-right: 20px; 
}

.navbar__list-item a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold;
}

.navbar__list-item a:hover {
    text-decoration: underline; 
}
