* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    /* margin-bottom: 10px; */
}

.col {
    display: flex;
    flex-direction: column;
}

.conteiner{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5 px red;
    overflow: hidden;
}

.header{
    background: linear-gradient(120deg, #00FFFF 0%, #87CEEB 100%);
    padding: 24px;
    text-align: center;
    color: #FFFAFA;
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.container{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid black;
}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #1E90FF;
    color: #FFFAFA;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.form-content.error input{
    border-color: red;
}

.form-content.error a{
    color: red;
}

.input-value {
    width: 200px;
}

.students_inputs_container {
    display: flex;
    justify-content: space-between;
}

.students_inputs_container .row {
    width: 100%;
}

.students_inputs_container .row input {
    width: 49%;
}

.row{
    display: flex;
    align-items: center;
}

.deleteBtn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.addBtn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover, .addBtn:hover{
    opacity: 0.8;
}
